<footer class="footer">
  <div class="footerContainer">
    <div class="footerContent01">
      <div class="footerContent01Text">
        <h1>Let’s chat.</h1>
        <p>Unleashing brand potential through creative design and innovation.</p>
        <button class="content-button">
          GET IN TOUCH
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M3.125 10H16.875"
              stroke="#010202"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.25 4.375L16.875 10L11.25 15.625"
              stroke="#010202"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <button class="content-button">
        GET IN TOUCH
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M3.125 10H16.875"
            stroke="#010202"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M11.25 4.375L16.875 10L11.25 15.625"
            stroke="#010202"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="footerLine footerLineOne" id="line0-footer"></div>
    <div class="footer-content02">
      <div class="footerLine foterLineTwo" id="line1-footer"></div>
      <div class="footer-content02-about">
        <div class="footer-navMenu">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </div>
        <div class="footer-navMenu">
          <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-line" id="line2-footer"></div>
      <div class="footer-content02-contact">
        <div class="navMenu-social">
          <ul>
            <li><a href="#">Behance</a></li>
            <li><a href="#">Dribbble</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ul>
        </div>
        <div class="navMenu-contact">
          <ul>
            <li><a href="#">hello@kreativy.studio</a></li>
            <li><a href="#">+31 222 433 112</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
