<header class="header">
  <div class="container">
    <div class="navbar">
      <div class="navbar-logo">
        <a href="#">Krea<strong>tivy</strong></a>
      </div>
      <div class="navbar-content">
        <button class="content-button">
          GET IN TOUCH
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M3.125 10H16.875"
              stroke="#010202"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.25 4.375L16.875 10L11.25 15.625"
              stroke="#010202"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="navbar-content-navMenu">
          <p2>Menu</p2>
          <div  class="burger-menu burgerClick">
            <div class="line"></div>
            <div class="line long"></div>
          </div>
          <div id="navMenu">
            <div class="navMenu-content01">
              <p2>Menu</p2>
              <button class="close-button burgerClick">
                Close
                <div class="close-button-frame" >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18.75 5.25L5.25 18.75"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M18.75 18.75L5.25 5.25"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
            </div>
            <nav class="navMenu-content">
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blogs</a></li>
              </ul>
            </nav>
            <div class="navMenu-content02">
              <div class="navMenu-content02-contact">
                <ul>
                  <li><a href="#">hello@kreativy.studio</a></li>
                  <li><a href="#">+31 222 433 112</a></li>
                </ul>
              </div>
              <div class="navMenu-content02-social">
                <ul>
                  <li><a href="#">Behance</a></li>
                  <li><a href="#">Dribbble</a></li>
                  <li><a href="#">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-container slider1">
      <div class="swiper-wrapper" id="header-slider">
        <div class="swiper-slide" id="content01">
          <h1>Design Agency Based in Sydney.</h1>
          <p>
            We're not just a design agency; we're your friendly design companions.
            Let's embark on this creative adventure together and bring your vision
            to life with a friendly, modern, and innovative touch.
          </p>
          <div class="swiper-button-next" id="nextBtn1"><p>Scroll</p></div>
        </div>
        <div class="swiper-slide" id="content02">
          <h1>Building the future from Sydney.</h1>
          <div class="content-text">
            <p1>At Kreativy, we're more than just a design agency—we're your creative companions on the journey to design excellence.</p1>
            <p2>Our passion for all things imaginative and artistic is at the heart of everything we do.</p2>
          </div>
          <div class="swiper-button-next" id="nextBtn2"><p>Scroll</p></div>
        </div>
        <div class="swiper-slide" id="content03">
          <h1>Digital Agency Based in Sydney.</h1>
          <p>At Kreativy, we're more than just a design agency—we're your creative companions on the journey to design excellence.</p>
          <div class="swiper-button-next" id="nextBtn3"><p>Scroll</p></div>
        </div>
      </div>
    </div>
  </div>
</header>
