<section class="section01">
  <div class="section01-container">
    <div class="section01-content01">
      <p3>Digital Agency based in <a href="">SYDNEY, AU</a></p3>
      <button class="content-button">
        GET IN TOUCH
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M3.125 10H16.875"
            stroke="#010202"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M11.25 4.375L16.875 10L11.25 15.625"
            stroke="#010202"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="section01-content02">
      <h4>
        Based in the vibrant heart of Sydney, Australia, Kreativy is not just a
        digital agency; we're your partners in creativity. Our mission is to
        turn your dreams into reality, one pixel at a time. With a diverse team
        of designers, developers, and innovators, we're constantly pushing the
        boundaries of what's possible in the digital world.
      </h4>
    </div>
    <div class="section01-content03">
      <button class="content-button">
        GET IN TOUCH
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M3.125 10H16.875"
            stroke="#010202"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M11.25 4.375L16.875 10L11.25 15.625"
            stroke="#010202"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <button class="about-button">ABOUT KREATIVY</button>
      <div class="section-contact">
        <ul>
          <li><a href="#">hello@kreativy.studio</a></li>
          <li><a href="#">+31 222 433 112</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
