<section class="section02">
  <div class="swiper-container slider2" id="section02-swiper-container">
    <div class="swiper-wrapper" id="section02-swiper-wrapper">
      <div class="swiper-slide" id="section02-swiper-slide1">
        <div class="section02-overlay">
          <div class="section02-text">
            <p>Payrole Inc.</p>
            <p1
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</p1
            >
          </div>
          <div class="section02-tags">
            <button class="section02-tags01">Branding Design</button>
            <button class="section02-tags01">Website Design</button>
            <button class="section02-tags01">App Design</button>
            <button class="section02-tags01">Development</button>
          </div>
        </div>
        <button class="section02-scroll">View Details</button>
      </div>
      <div class="swiper-slide" id="section02-swiper-slide2">
        <div class="section02-overlay">
          <div class="section02-text">
            <p>Weave.Inc</p>
            <p1
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</p1
            >
          </div>
          <div class="section02-tags">
            <button class="section02-tags01">Branding Design</button>
            <button class="section02-tags01">Website Design</button>
            <button class="section02-tags01">App Design</button>
            <button class="section02-tags01">Development</button>
          </div>
        </div>
        <button class="section02-scroll" id="section02-scroll">
          View Details
        </button>
      </div>
      <!-- <div  id="section02-swiper-slide3">
        <p>Want to see more?</p>
        <button class="projects-button">SEE ALL PROJECTS</button>
      </div> -->
    </div>
  </div>
</section>

<section class="section02-02">
  <div class="section02-container" id="section02-01">
    <div class="section02-content">
      <div></div>
      <div class="section02-content-text">
        <p>Payrole Inc.</p>
        <button class="section02-button">
          VIEW DETAILS
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M3.125 10H16.875"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.25 4.375L16.875 10L11.25 15.625"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="section02-container" id="section02-02">
    <div class="section02-content">
      <div></div>
      <div class="section02-content-text">
        <p>Weave Inc.</p>
        <button class="section02-button">
          VIEW DETAILS<svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M3.125 10H16.875"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.25 4.375L16.875 10L11.25 15.625"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="section02-container" id="section02-03">
    <div class="section02-content">
      <div></div>
      <div class="section02-content-text">
        <p>Cryptozy</p>
        <button class="section02-button">
          VIEW DETAILS
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M3.125 10H16.875"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.25 4.375L16.875 10L11.25 15.625"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="section02-container" id="section02-04">
    <div class="section02-content">
      <div></div>
      <div class="section02-content-text">
        <p>Estatery</p>
        <button class="section02-button">
          VIEW DETAILS
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M3.125 10H16.875"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.25 4.375L16.875 10L11.25 15.625"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="section02-more">
    <p>Want to see more?</p>
    <button class="projects-button">SEE ALL PROJECTS</button>
  </div>
</section>
