<section class="section06">
    <div class="section06-container">
        <div class="section06-content">
            <img src="../img/section06_01.jpg" alt="client">
            <img src="../img/section06_02.jpg" alt="client">
            <img src="../img/section06_03.jpg" alt="client">
            <img src="../img/section06_04.jpg" alt="client">
            <img src="../img/section06_05.jpg" alt="client">
            <img src="../img/section06_06.jpg" alt="client">
            <img src="../img/section06_07.jpg" alt="client">
            <img src="../img/section06_08.jpg" alt="client">
        </div>
    </div>
</section>

<section class="section06-mob">
    <div class="swiper-wrapper slider3" id="swiper-wrapper-section06">
        <div class="swiper-container" id="swiper-container-section06">
            <div class="swiper-slide" id="swiper-slide-section06">
                <div class="image-slider" id="image-slider-section06">
                    <img src="../img/section06_01.jpg" alt="client">
                </div>
            </div>
            <div class="swiper-slide" id="swiper-slide-section06">
                <div class="image-slider">
                    <img src="../img/section06_02.jpg" alt="client">
                </div>
            </div>
            <div class="swiper-slide" id="swiper-slide-section06">
                <div class="image-slider">
                    <img src="../img/section06_03.jpg" alt="client">
                </div>
            </div>
            <div class="swiper-slide" id="swiper-slide-section06">
                <div class="image-slider">
                    <img src="../img/section06_04.jpg" alt="client">
                </div>
            </div>
            <div class="swiper-slide" id="swiper-slide-section06">
                <div class="image-slider">
                    <img src="../img/section06_05.jpg" alt="client">
                </div>
            </div>
            <div class="swiper-slide" id="swiper-slide-section06">
                <div class="image-slider">
                    <img src="../img/section06_06.jpg" alt="client">
                </div>
            </div>
            <div class="swiper-slide" id="swiper-slide-section06">
                <div class="image-slider">
                    <img src="../img/section06_07.jpg" alt="client">
                </div>
            </div>
            <div class="swiper-slide" id="swiper-slide-section06">
                <div class="image-slider">
                    <img src="../img/section06_08.jpg" alt="client">
                </div>
            </div>
        </div>
    </div>
</section>