<section class="section05">
  <div class="section05-container">
    <div class="section05-container-content01">
      <p>
        I had the pleasure of working with Ivan on a recent project, and I was
        blown away by their creativity and attention to detail. I highly
        recommend Kreativy for anyone looking for a talented and professional
        designer.
      </p>
    </div>
    <div class="section05-container-content02">
        <img src="../img/section05.jpg" alt="avatar">
        <div class="section05-container-content02-text">
            <p8>Jacob McDany</p8>
            <p9>, CEO of Rackspace</p9>
            <p10>CEO of Rackspace</p10>
        </div>
    </div>
  </div>
</section>
