<section class="section07">
  <div class="section07-container">
    <div class="section07-tittle">
      <h5>Our Blogs and Insights</h5>
      <button class="blogs-button">MORE ARTICLES</button>
    </div>
    <div class="section07-content">
      <div class="section07-content01">
        <img src="../img/section07.jpg" alt="section07" />
      </div>
      <div class="section07-content02">
        <div class="blog-list">
          <div class="blog-list-text">
            From Concept to Reality: Showcasing Impactful Design Case Studies
            <div class="blog-list-date">
              <p>2 mins read</p>
              <p>Oct, 21</p>
            </div>
          </div>
          <button class="blog-button">
            <div class="blog-button-arrow"></div>
          </button>
        </div>
        <div class="blog-list">
          <div class="blog-list-text">
            Designing for Humans: UX/UI Insights from Our Expert Team
            <div class="blog-list-date">
              <p>2 mins read</p>
              <p>Oct, 21</p>
            </div>
          </div>
          <button class="blog-button">
            <div class="blog-button-arrow"></div>
          </button>
        </div>
        <div class="blog-list">
          <div class="blog-list-text">
            Future-Proofing Web Development: Navigating the Latest Trends
            <div class="blog-list-date">
              <p>2 mins read</p>
              <p>Oct, 21</p>
            </div>
          </div>
          <button class="blog-button">
            <div class="blog-button-arrow"></div>
          </button>
        </div>
        <div class="blog-list">
          <div class="blog-list-text">
            The Art of Collaboration: Stories from the Design and Development
            Trenches
            <div class="blog-list-date">
              <p>2 mins read</p>
              <p>Oct, 21</p>
            </div>
          </div>
          <button class="blog-button">
            <div class="blog-button-arrow"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section07-mob">
<div class="section07-container-mob">
  <div class="section07-content01-mob"> Our Blogs and Insights</div>
  <div class="section07-content02-mob">
    <div class="blog-card">
      <div class="blog-card-img" id="card-img01">
      </div>
      <div class="blog-list-text">
        From Concept to Reality: Showcasing Impactful Design Case Studies
        <div class="blog-list-date">
          <p>2 mins read</p>
          <p>Oct, 21</p>
        </div>
      </div>
    </div>
    <div class="blog-card">
      <div class="blog-card-img" id="card-img02"></div>
      <div class="blog-list-text">
        Designing for Humans: UX/UI Insights from Our Expert Team
        <div class="blog-list-date">
          <p>2 mins read</p>
          <p>Oct, 21</p>
        </div>
      </div>
    </div>
    <div class="blog-card">
      <div class="blog-card-img" id="card-img01"></div>
      <div class="blog-list-text">
        Future-Proofing Web Development: Navigating the Latest Trends
        <div class="blog-list-date">
          <p>2 mins read</p>
          <p>Oct, 21</p>
        </div>
      </div>
    </div>
    <div class="blog-card">
      <div class="blog-card-img" id="card-img01"></div>
      <div class="blog-list-text">
        The Art of Collaboration: Stories from the Design and Development
        Trenches
        <div class="blog-list-date">
          <p>2 mins read</p>
          <p>Oct, 21</p>
        </div>
      </div>
    </div>
    <button class="blogs-button">MORE ARTICLES</button>
  </div>
</div>
</section>
