<section class="section04">
    <div class="section04-container">
        <div class="section04-content01">
            <p6>Nominated as the Agency of the Year among the top Digital Agencies globally.</p6>
            <img src="../img/section04_01.jpg.png" alt="award">
        </div>
        <div class="section04-content02">
            <div class="award-card01">
                <img src="../img/section04_02.jpg" alt="award01">
            </div>
            <div class="award-card02">
                <p7>AWWWARDS SITE OF THE DAY & DEVELOPER AWARD</p7>
            </div>
            <div class="award-card03">
                <p7>FWA SITE OF THE DAY</p7>
            </div>
        </div>
    </div>
</section>